// Kolory
$color_heading: #000;
$color_subheading: rgba(var($color_heading), 0.7);
$color_text: #F9FBFE;
$color_textOnDark: #F9FBFE;

$color_primary: #60DC64;
$color_secondary: #3B99E1;

$bg_color: #D3EAFA;
$bg_color: rgba(var($bg_color), 0.8);

$primary_gradient: linear-gradient(45deg, #3B99E1 0%, #60DC64 100%);

// Tekst

$font-size-base: 1rem;
$font-size-1: $font-size-base * 3; //48px
$font-size-2: $font-size-base * 1.5; //24px
$font-size-3: $font-size-base * 1.125; //18px
$font-size-4: $font-size-base * 1; //16px
$font-size-5: $font-size-base * 0.875; //14px
$font-size-6: $font-size-base * 0.75; //12px
$font-size-7: $font-size-base * 0.625; //10px

// Wysokości linii

$line-height-sm: 1.2; 
$line-height-base: 1.5; 
$line-height-lg: 1.8; 

// Siatka

$grid-base: 10px;
$gutter: $grid-base * 1.5; //Odstęp pomiędzy pionowymi kolumnami

// Zaokrąglenia 

$border-radius: $grid-base * 0.5;

// Breakpoint
$bp-medium: '800px';
$bp-large: '1200px';